<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-progress-bar type="indeterminate" *ngIf="!companies"></ion-progress-bar>

    <ng-container *ngIf="companies">
      <ion-searchbar placeholder="{{ 'companies' | translate}}" debounce="500" (ionChange)="filterItems($event)"></ion-searchbar>
      <ion-virtual-scroll [items]="companies" approxItemHeight="320px" >
        <ion-item-sliding *virtualItem="let company" (click)="goToCompany(company)">
          <ion-item color="{{company.user.active ? '' : 'light'}}">
            <ion-label>{{company.name}}</ion-label>
            <ion-note slot="end">{{company.user.name}}</ion-note>
          </ion-item>
        </ion-item-sliding>
      </ion-virtual-scroll>
    </ng-container>
  </ion-list>
</ion-content>
