<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{tittle}}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="logOut()">
          <ion-icon name="log-out" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
  <ion-tabs >
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="companies/create" [selected]="selectedPath.includes('companies/create')">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>{{'create' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="companies/list" [selected]="selectedPath.includes('companies/list')">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>{{'companies' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tags/create/step-1" [selected]="selectedPath.includes('tags/create/step-1')">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>{{'tags' | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>

