<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <form (submit)="validateTags()">

  <ion-item>
    <ion-label position="stacked">{{'tags' | translate}}</ion-label>
    <ion-textarea
            autofocus
            rows="15"
            [disabled]="disabled"
            [(ngModel)]="tags"
            name="tags">

    </ion-textarea>
  </ion-item>
  <div class="ion-padding">
    <ion-button type="submit">{{'add' | translate}}</ion-button>
  </div>
  </form>
</ion-content>

